<?xml version="1.0" encoding="UTF-8" ?>

<!-- DTD 선언 -->
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	mapper라는 영역 안에 구문을 작성한다
	- namespace : mapper간의 충돌을 방지 하기 위한 이름 (필수)
-->
<mapper namespace="myinfo">
	
	<select id="idwithpwd" resultType="user" parameterType="int">
	SELECT *
	FROM USERCLIENT
	WHERE USER_ID = #{user_id}
	</select>
	
	<update id="changepwd" parameterType="map">
	UPDATE USERCLIENT
	   SET USER_PW = #{newPwd}
	 WHERE USER_ID = #{user_id}
	</update>
	
</mapper>